<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cover Letter Generator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🤖 AI Career Coach</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/history">History</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<section class="form-section">

<h1>AI Cover Letter Generator</h1>

<form method="POST">

<label>Your CV</label>

<textarea
name="cv"
rows="12"
required
placeholder="Paste your CV here..."></textarea>

<label>Job Description</label>

<textarea
name="job"
rows="12"
required
placeholder="Paste the job description here..."></textarea>

<button>
Generate Cover Letter →
</button>

</form>

</section>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>